# === Backend ===
DATABASE_URL=postgresql+asyncpg://postgres:password@db.xxx.supabase.co:5432/postgres
REDIS_URL=redis://default:xxx@xxx.upstash.io:6379
OPENAI_API_KEY=sk-xxx
GCS_BUCKET_NAME=coto-audio-dev

# === Frontend ===
API_BASE_URL=http://localhost:8000
APP_ENV=development
